@use "./variables.scss" as *;

// put your custom CSS here!
//stop clickable broken links
a.internal.broken {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  opacity: 0.5;

  &:hover {
    text-decoration: none;
  }
}
//recent notes
.recent-notes {
  max-height: 280px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 0.5rem;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--gray);
    border-radius: var(--radius-full, 9999px);
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}
